{{ partial "header.html" . }}

<nav class="go-back-link">
	<a href="/">← Go Back</a>
</nav>

<article>
	<h1 class="articleheader first-header">{{ .Title }}</h2>
	<span class="articlemeta">
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
			{{ .Date.Format "Monday January 2, 2006" }}
		</time>
		by
		<span class="author">{{ .Params.author }}</span>
	</span>
	{{ .Content }}

	{{ if .Params.reddit }}
	<hr />
	<footer>
		 <a href="{{ .Params.reddit }}">Join the discussion on Reddit!</a>
	</footer>
	{{ end }}
</article>

{{ partial "footer.html" . }}
