.trailer-header
{
	position: relative;
	height: 100%;
}
.trailer-header::before
{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-image: url('/images/home/gallery-bar.webp');
	filter: grayscale(100%);
}

.trailer-header > *
{
	position: relative;
}

.logo-link {
	filter: brightness(1.5);
}

.trailer-header-logos > li {
	display: flex;
	list-style: none;
	justify-content: center;
	flex: 1 0 25%;
}

@media (max-width: 700px) {
	.trailer-header-logos > li {
		flex: revert !important;
	}

	.trailer-header-logos {
		flex-direction: column;
	}

	.trailer-header:before {
		background-position-x: 415px;
		background-position-y: -350px;
	}

	#logo {
		margin-top: 200px;
	}
}
