/* CSS stuff related to the footer. */

/*
.bottom-links > ul {
	margin-top: auto;
	margin-bottom: auto;
} */

.bottom-links {
	margin-top: auto;
	background-image: url("/images/stripeback.svg");
	border-top: 2px solid #525252 !important;
	line-height: 200%;
}

.bottom-links li {
	margin: 0;
}

.bottom-links {
	color: rgb(156, 156, 156);
	float: right;
}

.bottom-links a {
	color: rgb(156, 156, 156);
}

.bottom-links ul > li {
	display: inline-block;
	margin: 0 8px;
}

.bottom-links .github, .bottom-links .steam, .bottom-links .email {
	margin-bottom: 6px;
}
.bottom-links .discord, .bottom-links .rss, .bottom-links .patreon {
	margin-bottom: 4px ;
}
.bottom-links .IRC {
	margin-bottom: 9px;
}
.bottom-links .reddit {
	padding-right: 1px;
	margin-bottom: 3px;
}
.bottom-links .email {
	position: relative;
	left: 5px;
}


#upper-links-container, #media-img, #media-video {
	flex-flow: row wrap;
	display: flex;
	justify-content: space-evenly;
}
