/* Contains main page layout CSS like background and centering and whatever. */

body
{
	/* Only really seems to be visible due to rendering bugs in Firefox Preview on Android. */
	/* Oh well */
	background: #25252A;
	background: url("/images/background.jpg") black;
	background-size: cover;
   	background-attachment: fixed;

	color: rgb(200, 200, 200);
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	font-variant-ligatures: normal;
	/* Bootstrap overrides this */
	line-height: normal;
}

html
{
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.background
{
	height: 100%;
	width: 100%;
	position: fixed;
}

#background-2
{
	z-index: -9;
}

@media screen and (max-width: 1020px)
{
	#background-2
	{
		background-color: rgba(0, 0, 0, 0.9);
	}

	#background
	{
		z-index: -10;
		/*
		On this smaller layout the background is entirely covered by the center column,
		so we use a smaller, heavily compressed image.
		Can't make out the loss in detail anyways.
		*/
		background: url("/images/background-small.jpg") black;
 		background-size: cover;
		background-attachment: fixed;
	}
}



.section-shadow {
	filter: drop-shadow(-1px 6px 3px rgba(20, 0, 0, 0.5));
}

.section-bg {
	background-color: #212126;
}

@media screen and (max-width: 576px) {
	.section-shadow {
		/* Disable drop shadows on phone-size screens for perf */
		filter: none;
	}
}

