body
{
	color: rgb(200, 200, 200);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	height: 100%;
	margin: 0;
	font-variant-ligatures: normal;
}

#background
{
	z-index: -10;
	background: url("/images/background.jpg") black;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	position: fixed;
}

html
{
	height: 100%;
}

#centercolumn
{
	background-color: rgba(0, 0, 0, 0.9);
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 75%;
	min-height: 100%;
	text-align: left;
	bottom: 0;
	-webkit-box-shadow: 0px 0px 80px 100px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 80px 100px rgba(0,0,0,0.9);
	position: initial;
	display:block;
	overflow:auto;
}

#header
{
	padding-top: 10px;
	overflow: auto;
	display: flex;
	align-items: center;
}

.left
{
	width: 50%;
	float: left;
	text-align: left;
	display: block;
}

.right
{
	width: 70%;
	float: right;
	text-align: right;
	display: block;
}


#subname
{
	color: grey;
	transform: skew(-11.775deg, -3.925deg) translate(0, -15px);
	display: block;
}

.navlink
{

	font-size: 30pt;
	color: rgb(200, 200, 200);
	text-decoration: none;
	margin-left: 20px;
	font-family: "animal_silenceregular";
}

main
{
	margin-top: 20px;
	margin-bottom: 50px;
}

small
{
	color: grey;
}

#chatlinks
{
	padding: 10px;
}

#chatlinks a.code
{
	left: 5px;
	position: relative;
	border-bottom: 1px solid rgba(200, 200, 200, 0.2);
	text-decoration: none;
}

#ircrelaynotice
{
	display: inline-block;
	margin-top: 10px;
}

a img
{
	position: relative;
	top: 3px;
}

hr
{
	margin: 25px 0;
	height: 1px;
	border: 0;
	background: white;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(40, 40, 40, 0.7) 15%, rgba(40, 40, 40, 0.7) 50%, rgba(40, 40, 40, 0.7) 85%, rgba(0, 0, 0, 0));
}

header > a
{
	text-decoration: none;
}

.articleheader
{
	margin-bottom: 0px;
}

.articlemeta
{
	color: dimgrey;
	font-size: 12pt;
	display: inline-block;
	padding-bottom: 7px;
}

a {
	color: rgb(150, 170, 255);
}

a:link
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

ul.pagination
{
	display: inline-block;
	margin: 0;
	padding: 0;
}

/* pages list horizontally */
ul.pagination > li
{
	display: inline-block;

}

div#recentpostswrapper > h1
{
	margin-bottom: 0;
}

li.disabled, li.disabled > a
{
	color: rgb(105, 105, 105);
}

.go-back-link a {
	color: dimgrey;
}

img, video {
	max-width: 100%;
	max-height: 100%;
}

#upper-links-container, #media-img, #media-video {
	flex-flow: row wrap;
	margin: 40px 0 40px 0;
	display: flex;
	justify-content: center;
}
.upper-links, #media-img img, #media-video video {
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
}
.upper-links div, #media-img div, #media-video div {
	flex-flow: row wrap;
	display: flex;
	margin: 0 0 0 40px;
}
.upper-links a {
	font-size: 20px;
	margin-left: 5px;
	color: lightgray;
}
.upper-links .discord, .upper-links .github, .upper-links .steam {
	margin-top: 2px;
}
.trademark-top {
	font-size: 8px;
	position: relative;
	bottom: 12px;
	right: 30px;
}
.bottom-links {
	margin-bottom: 20px;
	color: dimgray;
	float: right;
}
.bottom-links a {
	color: dimgray;
}
.bottom-links ul > li {
	display: inline-block;
	margin-left: 25px;
}
.bottom-links .github, .bottom-links .steam, .bottom-links .email {
	margin-bottom: 6px;
}
.bottom-links .discord, .bottom-links .rss, .bottom-links .matrix {
	margin-bottom: 4px ;
}
.bottom-links .IRC {
	margin-bottom: 9px;
}
.bottom-links .reddit {
	padding-right: 1px;
	margin-bottom: 3px;
}
.bottom-links .email {
	position: relative;
	left: 5px;
} 
.trademark-bottom {
	font-size: 8px;
	position: relative;
	bottom: 18px;
	right: 83px;
}

#download-container {
	border: yellow 1px solid;
	padding: 100px;
	margin: 50px 0 50px;
	display: flex;
	justify-content: center;
}
.download {
	border: red 1px solid;
	flex-basis: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.download-image {
	border: blue 1px solid;
	height: 150px;
	margin-bottom: 10px;
}
.download > a, .download > small {
	/* display: flex; */
	border: green 1px solid;
	text-align: center;
}
.download-link {
	border: purple 1px solid;
	margin: 10px 0;
}
#download-sublinks {
	border: white 1px solid;
	display: flex;
	justify-content: center;
	margin-bottom: 250px;
}
#download-sublinks > * {
	border: yellow 1px solid;
	flex-basis: 200px;
	text-align: center;
}

/* Pygments stuff */
.highlight {
	padding-left: 30px;
	border: 2px solid rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
}

code {
	font-family: "Fira Code", "Source Code Pro", monospace;
	font-weight: 500;
}

.highlight {
	--comment: #608b4e;
	--string: #a31515;
	--keyword: #569cd6;
	--method: #dcdcaa;
	--classname: #4ec9b0;
	--number: #b5cea8;
}

#TableOfContents:before {
	content: "Contents";
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
    display: block;
}
#TableOfContents {
	display: table-row;
	font-size: 13px;
	padding: 2em;
	width: 30em;
}
#TableOfContents ul {
	display: table;
	list-style-type: none;
	counter-reset: item;
	padding-left: 1em;
	margin: 0;
	padding: 0;
} 
#TableOfContents li {
	display: table-row;
	counter-increment: item;
}
#TableOfContents li:before {
	content: counters(item, ".") ". ";
	display: table-cell;
	text-align: right;
	padding-right: 0.6em;
} 
#TableOfContents li:after {
	content: '';
	display: block;
	padding-bottom: 0.6em;
}
#TableOfContents li li:after {
	padding-bottom: 0;
} 
#TableOfContents li li:before {
	content: counters(item, ".") " ";
}

#media-img, #media-video {
	margin: 0;
}
#media-video video, #media-img img {
	width: 0px;
} 
#media-img div, #media-video div {
	margin: 0;
}
#media-toc {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 210px 0 210px 0; 
}
#media-toc div {
	margin: 0 100px 0 100px;
	padding: 50px 0 50px 0;  
}
.media-toc-item a {
	color: whitesmoke;
	font-size: 50px;
} 

article img:not(.download-image), article video {
	max-width: 40em;
	min-width: 20em;
	border-radius: 10px;
	margin: 10px;
	padding: 2px; 
	border: 1px solid rgb(80, 80, 80); 
} 

.contact {
	text-align: center;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: var(--comment) } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: var(--keyword) } /* Keyword */
.highlight .ch { color: var(--comment) } /* Comment.Hashbang */
.highlight .cm { color: var(--comment) } /* Comment.Multiline */
.highlight .cp { color: var(--keyword) } /* Comment.Preproc */
.highlight .cpf { color: var(--comment) } /* Comment.PreprocFile */
.highlight .c1 { color: var(--comment) } /* Comment.Single */
.highlight .cs { color: var(--comment) } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: var(--keyword) } /* Keyword.Constant */
.highlight .kd { color: var(--keyword) } /* Keyword.Declaration */
.highlight .kn { color: var(--keyword) } /* Keyword.Namespace */
.highlight .kp { color: var(--keyword) } /* Keyword.Pseudo */
.highlight .kr { color: var(--keyword) } /* Keyword.Reserved */
.highlight .kt { color: var(--keyword) } /* Keyword.Type */
.highlight .s { color: var(--string) } /* Literal.String */
.highlight .m { color: var(--number) } /* Literal.Number */
.highlight .nc { color: var(--classname) } /* Name.Class */
.highlight .nn { color: var(--classname) } /* Name.Namespace */
.highlight .ow { color: #6666ff } /* Operator.Word */
.highlight .sa { color: var(--string) } /* Literal.String.Affix */
.highlight .sb { color: var(--string) } /* Literal.String.Backtick */
.highlight .sc { color: var(--string) } /* Literal.String.Char */
.highlight .dl { color: var(--string) } /* Literal.String.Delimiter */
.highlight .sd { color: var(--string) } /* Literal.String.Doc */
.highlight .s2 { color: var(--string) } /* Literal.String.Double */
.highlight .se { color: var(--string) } /* Literal.String.Escape */
.highlight .sh { color: var(--string) } /* Literal.String.Heredoc */
.highlight .si { color: var(--string) } /* Literal.String.Interpol */
.highlight .sx { color: var(--string) } /* Literal.String.Other */
.highlight .sr { color: var(--string) } /* Literal.String.Regex */
.highlight .s1 { color: var(--string) } /* Literal.String.Single */
.highlight .ss { color: var(--string) } /* Literal.String.Symbol */
.highlight .nf { color: var(--method) } /* Name.Function */

