/* Literally everything I can't figure out a better place to put it. */

.summary
{
	margin-bottom: 30px;
}

h3 {
	font-size: 1.5rem;
}

main
{
	margin-bottom: 50px;
}

small
{
	color: grey;
}

hr
{
	min-height: 2px;
	margin: 25px 0;
	height: 1px;
	border: 0;
	background: #525252;
}

.articleheader
{
	margin-bottom: 0px;
}

.articlemeta
{
	color: dimgrey;
	font-size: 12pt;
	display: inline-block;
	padding-bottom: 7px;
}

a {
	color: rgb(150, 170, 255);
}

a:link
{
	text-decoration: none;
}

ul.pagination
{
	display: flex;
	margin: 0;
	padding: 0;
}

/* pages list horizontally */
ul.pagination > li
{
	display: block;
	margin: 0 4px;
}

div#recentpostswrapper > h1
{
	margin-bottom: 0;
}

li.disabled, li.disabled > a
{
	color: rgb(105, 105, 105);
}

.go-back-link a {
	color: dimgrey;
}

img, video {
	max-width: 100%;
	max-height: 100%;
}

#media-img, #media-video {
	margin: 40px 0 40px 0;
}

#media-img div, #media-video div {
	flex-flow: row wrap;
	display: flex;
	margin: 0 0 0 40px;
}



#TableOfContents:before {
	content: "Contents";
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
    display: block;
}
#TableOfContents {
	display: table-row;
	font-size: 13px;
	padding: 2em;
	width: 30em;
}
#TableOfContents ul {
	display: table;
	list-style-type: none;
	counter-reset: item;
	padding-left: 1em;
	margin: 0;
	padding: 0;
}
#TableOfContents li {
	display: table-row;
	counter-increment: item;
}
#TableOfContents li:before {
	content: counters(item, ".") ". ";
	display: table-cell;
	text-align: right;
	padding-right: 0.6em;
}
#TableOfContents li:after {
	content: '';
	display: block;
	padding-bottom: 0.2em;
}
#TableOfContents li li:after {
	padding-bottom: 0;
}
#TableOfContents li li:before {
	content: counters(item, ".") " ";
}

.video-container video, #media-img img {
	width: 335px;
	margin: 10px;
}
.video-container  {
	display: flex;
	flex-wrap: wrap;
}
.video-title {
	text-align: center;
	font-size: 14px;
	position: relative;
	top: 10px;
}
#media-toc {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 210px 0 210px 0;
}
#media-toc div {
	margin: 0 100px 0 100px;
	padding: 50px 0 50px 0;
}
.media-toc-item a {
	color: whitesmoke;
	font-size: 50px;
}

.contact {
	text-align: center;
}

hr.nomargin {
	margin: 0;
}
