{{ partial "header.html" . }}

<div class="section-shadow">
	<div class="container mb-4 py-3 section-bg angle-rect optional">

<article>
	<p style="color:red;">DISCLAIMER</p>

	This is an archive-ish of images/videos used in the progress reports. It may be infrequently updated and not everything here is representative of what the game currently looks like.

	<div id="media-toc">
    <div class="media-toc-item"><a href="/about/media/#media-video">Videos</a></div>
    <div class="media-toc-item"><a href="/about/media/#media-img">Pictures</a></div>
</div>
<hr></hr>
<div class="video-container">
	{{ range $entry := $.Site.Data.media.videos }}
		<div>
			<figcaption class="video-title">{{ $entry.title }}</figcaption>
			<video src="/video/{{ $entry.file }}" controls playsinline preload=metadata>
		</div>
	{{ end }}
</div>
<hr></hr>
<div id="media-img">
	{{ range $entry := $.Site.Data.media.images }}
		<a target="_blank" href="/images/{{ $entry.file }}"><img src="/images/{{ $entry.file }}"></a>
	{{ end }}
</div>

</article>
</div>
</div>

{{ partial "footer.html" . }}
