		</main>
		<div id="footer-wrap" class="section-shadow">
		<footer class="bottom-links container angle-rect optional mb-2">
			<ul class="m-2 p-0 d-flex flex-wrap justify-content-center">
				<li><a href="https://github.com/space-wizards" title="GitHub"><i class="fab fa-github"></i> GitHub</a></li>
				<li><a href="https://docs.spacestation14.io" title="Developer Wiki"><i class="fas fa-file-alt"></i> Developer Wiki</a></li>
				<li><a href="https://wiki.spacestation14.io/wiki/Main_Page" title="Player Wiki"><i class="fas fa-file-alt"></i> Player Wiki</a></li>
				<li><a href="https://store.steampowered.com/app/1255460/Space_Station_14/" title="Steam"><i class="fab fa-steam-symbol"></i> Steam</a></li>
				<li><a href="https://www.patreon.com/spacestation14" title="Patreon"><i class="fab fa-patreon"></i> Patreon</a></li>
				<li><a href="https://discord.gg/t2jac3p" title="Discord"><i class="fab fa-discord"></i> Discord</a></li>
				<li><a href="https://forum.ss14.io" title="SS14 Forums"><i class="fas fa-comments"></i> Forum</a></li>
				<li><a href="https://lemmy.spacestation14.com" title="Lemmy"><i class="fas fa-stream"></i> Lemmy</a></li>
				<li><a href="https://mastodon.gamedev.place/@spacestation14" rel="me" title="RSS"><i class="fab fa-mastodon"></i> Mastodon</a></li>
				<li><a href="/about/contact/#email" title="Email"><i class="fas fa-envelope"></i> Email</a></li>
				<li><a href="/index.xml" title="RSS"><i class="fas fa-rss"></i> RSS</a></li>
			</ul>
		</footer>
		</div>
	</body>
</html>
