		</main>
		<div class="section-shadow">
		<footer class="bottom-links container angle-rect optional mb-2">
			<ul class="m-2 p-0 d-flex flex-wrap justify-content-center">
				<li><a href="https://www.patreon.com/spacestation14" title="Patreon">Patreon</a></li>
				<li><a href="https://discord.gg/t2jac3p" title="Discord">Discord</a></li>
				<li><a href="https://github.com/space-wizards" title="Github">GitHub</a></li>
				<li><a href="https://hackmd.io/@ss14/docs" title="Documentation">Documentation</a></li>
				<li><a href="https://store.steampowered.com/app/1255460/Space_Station_14/" title="Steam">Steam</a></li>
				<li><a href="/about/contact/#email" title="Email">Email</a></li>
				<li><a href="/index.xml" title="RSS">RSS</a></li>
				<li><a href="/about/contact/#IRC" title="IRC">IRC</a></li>
				<li><a href="https://reddit.com/r/ss14" title="Subreddit">Subreddit</a></li>
			</ul>
		</footer>
		</div>
	</body>
</html>
