<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />

		{{ partial "meta.html" . }}

		<base href="{{ .Site.BaseURL }}" />
		{{ if .Title }}<title>{{ .Title }} - SS14</title>{{ else }}<title>Space Station 14</title>{{ end }}
		<link rel="canonical" href="{{ .Permalink }}" />
		{{ if .RSSLink }}
			<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
			<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}

		{{ partial "head_includes.html" }}
	</head>
	<body lang="en">
		<div id="header">
			<div class="container-lg">
				<nav class="navbar navbar-expand-lg navbar-dark p-0">
					<a href="/" id="name" class="navbar-brand">
						<img id="logo" src="/images/icon-new.svg" height="50" />
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					{{ $nla := .Params.navlinkactive }}

					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link navlink {{if eq $nla "home" }} active {{ end }}" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link navlink {{if eq $nla "posts" }} active {{ end }}" href="/post/">Posts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link navlink {{if eq $nla "play" }} active {{ end }}" href="/about/nightlies/">Play</a>
							</li>
							<li class="nav-item">
								<a class="nav-link navlink {{if eq $nla "about" }} active {{ end }}" href="/about/">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link navlink {{if eq $nla "media" }} active {{ end }}" href="/about/media/">Media</a>
							</li>
							<li class="nav-item">
								<a class="nav-link navlink {{if eq $nla "contact" }} active {{ end }}" href="/about/contact/">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link navlink {{if eq $nla "faq" }} active {{ end }}" href="/about/faq/">FAQ</a>
							</li>
						</ul>
					</div>
				</nav>

			</div>
		</div>
<!-- 			<nav id="upper-links-container" class="centercontent">
			    <div><a href="https://www.patreon.com/spacestation14"><span class="upper-link-text">Patreon</span></a></div>
			    <div><a href="https://discord.gg/t2jac3p"><span class="upper-link-text">Discord</span></a></div>
				<div><a href="https://github.com/space-wizards"><span class="upper-link-text">GitHub</span></a></div>
				<div><a href="https://hackmd.io/@ss14/docs"><span class="upper-link-text">Documentation</span></a></div>
				<div><a href="https://store.steampowered.com/app/1255460/Space_Station_14/"><span class="upper-link-text">Steam</span></a></li></div>
			</nav> -->
			<main>
