<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />

		{{ partial "meta.html" . }}

		<base href="{{ .Site.BaseURL }}" />
		{{ if .Title }}<title>{{ .Title }} - Space Station 14</title>{{ else }}<title>Space Station 14</title>{{ end }}
		<link rel="canonical" href="{{ .Permalink }}" />
		{{ if .RSSLink }}
			<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
			<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}

		{{ partial "head_includes.html" }}
	</head>
	<body lang="en">
		<div id="background"> </div>
		<div id="centercolumn">
			<nav id="header">
				<header class="left">
					<a href="/" id="name">
						<img src="/images/newer.svg" height="100" />
					</a>
				</header>
				<div class="right">
					<a class="navlink" href="/about/">About</a>
					<a class="navlink" href="/about/nightlies/">Download</a>
					<a class="navlink" href="/about/faq/">FAQ</a>
					<!--<a class="navlink" href="#">Get Involved</a>-->
				</div>
			</nav>
			<main>
