<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />

		{{ partial "meta.html" . }}

		<base href="{{ .Site.BaseURL }}" />
		{{ if .Title }}<title>{{ .Title }} - SS14</title>{{ else }}<title>Space Station 14</title>{{ end }}
		<link rel="canonical" href="{{ .Permalink }}" />
		{{ if .RSSLink }}
			<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
			<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}

		{{ partial "head_includes.html" }}
	</head>
	<body lang="en">
		<div id="background" class="background"> </div>
		<div id="background-2" class="background"> </div>
		<div id="centercolumn">
			<nav id="header">
				<header>
					<a href="/" id="name">
						<img id="logo-tall" src="/images/new_logo.svg" height="100" />
						<img id="logo-long" src="/images/newer.svg" height="100" />
					</a>
				</header>
				<div class="navlinks">
					<a class="navlink" href="/about/">About</a>
					<a class="navlink" href="/about/nightlies/">Play!</a>
					<a class="navlink" href="/about/contact/">Contact</a>
					<a class="navlink" href="/about/media/">Media</a>
					<a class="navlink" href="/about/faq/">FAQ</a>
					<a class="navlink" href="https://www.patreon.com/spacestation14">⠀Donate</a>
				</div>
			</nav>
			<nav id="upper-links-container">
			    <div><a href="https://discord.gg/t2jac3p"><img class="discord" src="/images/logos/discord.svg" height="20"> <span class="upper-link-text">Discord</span></a></div>
				<div><a href="https://github.com/space-wizards"><img class="github" src="/images/logos/github.svg" height="18"> <span class="upper-link-text">GitHub</span></a></div>
				<div><a href="https://hackmd.io/@ss14/docs"><img class="hackmd" src="/images/logos/hackmd.svg" height="24"> <span class="upper-link-text">Documentation</span></a></div>
				<div><a href="https://store.steampowered.com/app/1255460/Space_Station_14/"><img class="steam" src="/images/logos/steam.svg" height="18"> <span class="upper-link-text">Steam<sup class="trademark-top">®</sup></span></a></li></div>
				<div><a href="https://www.reddit.com/r/ss14/"><img class="r" src="/images/logos/r.svg" height="18"> <span class="upper-link-text">SS14</span></a></div>
			</nav>
			<main>
