@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
