@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

