<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />

	{{ partial "meta.html" . }}

	{{ if .Title }}<title>{{ .Title }} - SS14</title>{{ else }}<title>Space Station 14</title>{{ end }}
	<link rel="canonical" href="{{ .Permalink }}" />
	{{ range .AlternativeOutputFormats -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ partial "head_includes.html" }}
</head>
<body id="trailer-landing-page" lang="en">
<div class="trailer-header d-flex flex-column w-100 justify-content-center align-items-center">
	<a href="/">
		<img id="logo" class="mb-5" src="/images/logo/ss14_logo_big_en.svg" alt="The large logo of Space Station 14" height="360" />
	</a>
	<ul class="d-flex flex-wrap trailer-header-logos align-items-baseline p-3 gap-5">
		<li>
			<a href="https://store.steampowered.com/app/1255460/Space_Station_14/" target="_blank">
				<img class="mx-2 logo-link" src="/images/logo/steam.svg" alt="Steam logo" height="64">
			</a>
		</li>
		<li>
			<a href="https://discord.ss14.io/" target="_blank">
				<img class="mx-2 logo-link" src="/images/logo/discord.svg" alt="Discord logo" height="64">
			</a>
		</li>
		<li>
			<a href="https://github.com/space-wizards/space-station-14" target="_blank">
				<img class="mx-2 logo-link" src="/images/logo/GitHub_Lockup_Light.svg" alt="Github logo" height="50">
			</a>
		</li>
		<li>
			<a href="https://www.patreon.com/spacestation14" class="d-flex align-items-center align-self-center" target="_blank" style="filter: invert()">
				<img class="ml-2 logo-link" src="/images/logo/PATREON_SYMBOL_1_BLACK_RGB.svg" alt="Patreon Symbol" height="50">
				<img class="mr-2 logo-link" src="/images/logo/PATREON_WORDMARK_1_BLACK_RGB.svg" alt="Patreon Wordmark" width="200">
			</a>
		</li>
<!-- 		<li style="margin-left: -30px;" class="align-self-center">
			<a href="https://opencollective.com/space-station-14" target="_blank" style="margin: -26px 0 !important;">
				<img class="mx-2 logo-link" src="/images/logo/opencollective-ar21.svg" style="filter: saturate(0%) brightness(2);" alt="Open Collective logo link" height="120">
			</a>
		</li> -->
	</ul>
</div>
<footer class="h-6 bottom-links">
	<ul class="m-2 p-0 d-flex flex-wrap justify-content-center">
		<li><a href="https://github.com/space-wizards" title="Github"><i class="fab fa-github"></i> GitHub</a></li>
		<li><a href="https://docs.spacestation14.io" title="Documentation"><i class="fas fa-file-alt"></i> Documentation</a></li>
		<li><a href="https://store.steampowered.com/app/1255460/Space_Station_14/" title="Steam"><i class="fab fa-steam-symbol"></i> Steam</a></li>
		<li><a href="https://www.patreon.com/spacestation14" title="Patreon"><i class="fab fa-patreon"></i> Patreon</a></li>
		<li><a href="https://discord.ss14.io/" title="Discord"><i class="fab fa-discord"></i> Discord</a></li>
		<li><a href="https://forum.ss14.io" title="SS14 Forums"><i class="fas fa-comments"></i> Forum</a></li>
		<li><a href="https://lemmy.spacestation14.com" title="Lemmy"><i class="fas fa-stream"></i> Lemmy</a></li>
		<li><a href="https://mastodon.gamedev.place/@spacestation14" rel="me" title="RSS"><i class="fab fa-mastodon"></i> Mastodon</a></li>
		<li><a href="/about/contact/#email" title="Email"><i class="fas fa-envelope"></i> Email</a></li>
		<li><a href="/index.xml" title="RSS"><i class="fas fa-rss"></i> RSS</a></li>
	</ul>
</footer>
</body>
</html>

